
@{
    ViewBag.Title = "OrderConfirm";
}


<blockquote class="blockquote text-md-center my">
    <p>Thank you for your purchase and your support! </p><i class="fa fa-heart"></i>
    <p class="mb-0">Hope to see you again soon!</p>
    <footer class="blockquote-footer"><cite title="Source Title">Nic's movie store team</cite></footer>
</blockquote>