@model movie_store.ViewModels.CustOrdersViewModel

@{
    ViewBag.Title = "DisplayOrders";
}

<h2 class="text-md-center mb-md-3"> @Model.Customer.FirstName @Model.Customer.LastName 's Order list</h2>
<hr />

@Html.Partial("_OrderPartial");
<p>@Html.ActionLink("BacK", "Index", null, new { @class = "btn btn-light " })</p>




