@model IEnumerable<movie_store.Models.DB.Movie>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-md-center">All Movies</h1>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add a Movie", "Create", null, new { @class = "btn btn-outline-danger  ml-md-2 mb-3" }) ;
   
}
<hr />
@Html.Partial("_MovieDetailsPartial")



